@import url('https://fonts.googleapis.com/css?family=Butterfly+Kids|Roboto');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  max-width: 960px;
  margin: 0 auto !important;
  float: none !important;
  background-color: #FAFAFA;
  font-size: 1.1em;
  color: #444;
}

a {
  text-decoration: none;
}

.time {
  color: green;
}

.menu {
  background-color: #005500;
  color: white;
  padding: 15px 0px;
  width: 192px;
  height: 20px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}
.menu-active {
  background-color: #00AA00;
  color: black;
  padding: 15px 0px;
  width: 192px;
  height: 20px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}

td.item {
    font-weight: bold;
}
td.abstract {
    font-style: italic;
}

span.name  {
    font-weight: bold;
}
span.affiliation  {
    font-style: italic;
}

/* *** This is for emacs *** */
/* Local Variables: */
/* eval: (whitespace-mode 1) */
/* End: */
